Repository grails/grails-forge, pull requests merged in 2024-12, with the labels that each got.

#444 run clean before build to work around buildSrc tests which fail
  build.gradle
Labels: maintenance, build, test

#461 Remove space before `testFixtures` parentheses
  grails-forge-core/src/main/java/org/grails/forge/build/gradle/GradleDependency.java
  grails-forge-core/src/test/groovy/org/grails/forge/feature/test/GebWithTestcontainersSpec.groovy
  grails-forge-core/src/test/groovy/org/grails/forge/feature/test/GebWithWebDriverBinariesSpec.groovy
Labels: bug, maintenance, test

#473 fix release.yml
  .github/workflows/release.yml
Labels: bug
